<div class="container">
  <%= form_with url: user_platforms_update_platforms_path, method: :get do |form| %>
    <%= form.collection_check_boxes(:platform_ids, Platform.all, :id, :display_name, include_hidden: false) do |b| %>
      <% if current_user.platforms.include? (b.object) %>
        <%= b.label(class: "btn user-platform") { image_tag(b.object.logo_path) } %>
          <% else %>
        <%= b.label(class: "btn user-platform user-platform-unselected") { image_tag(b.object.logo_path, class: "streaming-logo") } %>
      <% end %>
    <% end %>
    <%= form.submit "Save", class: "btn btn-primary", id: "btn-4" %>
  <% end %>
</div>
