<div class="container">
  <div class="refresh-button" data-controller="refresh" data-results="<%= @movies %>">
    <button data-action="click->refresh#next">Refresh</button>
  </div>

  <%= form_with url: movies_path, method: :get do |form| %>

    <h3>Pick a Genre</h3>
    <%# <%= form.label :keyword, "Genre:" %>
    <%= form.text_field :keyword%>

    <h3>Select your streaming services</h3>
    <%= form.collection_check_boxes :platform_ids, Platform.all, :id, :name %>

    <h3>Review_site:</h3>
    <%= form.radio_button :review_site, "imdb" %>
    <%= form.label :imdb, "IMDb" %>
    <%= form.radio_button :review_site, "metacritic" %>
    <%= form.label :metacritic, "Metacritic" %>
    <%= form.radio_button :review_site, "no_site", checked: true %>
    <%= form.label :no_site, "No review site" %>

    <h3>Minimum score</h3>
    <%= form.radio_button :score, "60" %>
    <%= form.label :'60', "60" %>
    <%= form.radio_button :score, "70" %>
    <%= form.label :'70', "70" %>
    <%= form.radio_button :score, "80" %>
    <%= form.label :'80', "80" %>
    <%= form.radio_button :score, "90" %>
    <%= form.label :'90', "90" %>

    <h3>Time limit</h3>
    <%= form.radio_button :time, "90" %>
    <%= form.label :'90', "90 mins" %>
    <%= form.radio_button :time, "120" %>
    <%= form.label :'120', "120 mins" %>
    <%= form.radio_button :time, "150" %>
    <%= form.label :'150', "150 mins" %>
    <%= form.radio_button :time, "no_limit", checked: true %>
    <%= form.label :no_limit, "No limit" %>

    <%= form.submit "Search", class: "btn btn-primary" %>
  <% end %>

  <%@movies.first(3).each do |movie|%>
  <div class="row d-flex justify-content-center">
    <div class="result-card card col-lg-6 col-md-7 col-sm-10" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path movie.background_image_url%>')" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <div class="card-body">
        <h3 class="card-title"><%= movie.title %></h3>
        <h6 class="card-subtitle mb-2"><%= movie.genres[0] %> / <%= movie.year %> / <%= movie.runtime %> mins</h6>
        <p class="card-text"><%= movie.plot %></p>
      </div>
      <div class="card-body cast-info">
        <p>Director - <%= movie.director.join(", ") %></p>
        <p>Starring - <%= movie.stars[0..2].join(", ") %></p>
      </div>
    </div>
  </div>
  <div class="row row d-flex justify-content-center">
    <div class="collapse col-lg-6 col-md-7 col-sm-10" id="collapseExample">
      <div class="row d-flex">
        <div class="col-6">

        </div>
        <div class="col-6">
          <h6>Stream Now On</h6>
          <% movie.platform_bookmarks.each do |bookmark|%>
            <div class="streaming-available">
              <%= link_to image_tag(bookmark.platform.logo_path, alt: "#{bookmark.platform.name} logo", width: 100), bookmark.link, target: :_blank %>
            </div>
          <% end %>
        </div>
        <div class="col-6">
          <button>Add to Watchlist</button>
          <button>Don't Show Me Again</button>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
