<div  data-controller="load-search-questions">
  <div class="form-wrapper">
    <div class="form-container">
      <%= form_with url: movies_path, method: :get do |form| %>

  <!-- QUESTION ONE : GENRE -->

      <div id="question-1" class="question" data-load-search-questions-target="question">
        <h3>What genre do you fancy?</h3>
        <!-- DROPDOWN <%= form.select :keyword, @genres%>-->

        <!-- GENRE SELECTION -->
        <!-- Not check_boxes as isn't expecting an array (genre -> nil) -->
        <div class="options genre-list">
          <%= form.collection_radio_buttons :keyword, @genres, :last, :first, include_hidden: false do |b| %>
            <div class="genre-tag-item">
              <%= b.radio_button class: "genre-tag-selector" %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
          <div class="form-button-container">
            <div class="form-button">
              <button id="btn-1"
                      data-action="click->load-search-questions#nextQuestion"
                      data-load-search-questions-target="button"
                      class="btn btn-white">
                OK
              </button>

          <!-- SKIP -->
              <%= form.collection_radio_buttons :keyword, @skip, :last, :first, include_hidden: false do |b| %>
                  <%= b.radio_button class: "genre-tag-selector" %>
              <% end %>

              <button id="btn-1"
                      data-action="click->load-search-questions#nextQuestion"
                      data-load-search-questions-target="button"
                      class="btn btn-white">
                Don't mind!
              </button>
            </div>
          </div>
        </div>



  <!-- QUESTION TWO : PLATFORMS -->

      <div id="question-2" class="question hidden" data-load-search-questions-target="question">
        <h3>What streaming services do you have access to?</h3>
        <div class="options platform-list">
          <%= form.collection_check_boxes :platform_ids, Platform.all, :id, :display_name, include_hidden: false do |b| %>
            <% if current_user %>
              <% if current_user.platforms.include? (b.object) %>
                <%= b.label( data: {controller: "user-platform"}) { b.check_box(checked: true, class: "d-none") + image_tag(b.object.logo_path, class: "btn user-platform", data: {action: 'click->user-platform#change', target: "button"})} %>
              <% else %>
                <%= b.label(class: "user-platform-unselected", data: {controller: "user-platform"}) { b.check_box(checked: false, class: "d-none") + image_tag(b.object.logo_path, class: "btn user-platform", data: {action: 'click->user-platform#change', target: "button"})} %>
              <% end %>
            <% else %>
              <%= b.label(class: "user-platform-unselected", data: {controller: "user-platform"}) { b.check_box(checked: false, class: "d-none") + image_tag(b.object.logo_path, class: "btn user-platform", data: {action: 'click->user-platform#change', target: "button"})} %>
            <% end %>

          <% end %>
        </div>

        <div class="form-button-container">
          <button id="btn-2"
                  data-action="click->load-search-questions#nextQuestion"
                  data-load-search-questions-target="button"
                  class="btn btn-white">
            OK
          </button>
        </div>
      </div>


  <!-- QUESTION THREE : CRITIC SCORE -->

        <div id="question-3" class="question hidden" data-load-search-questions-target="question">
          <div class="question-block" data-controller="hide-score-slider">
            <h3>Do you care what the critcs say?</h3>
            <div class="options">
            <%= form.radio_button :review_site, "imdb", class: "tag-selector", data: { action: "input->hide-score-slider#hideSlider", hide_score_slider_target: "imdb" } %>
              <%= form.label :imdb, "IMDb" %>
              <%= form.radio_button :review_site, "metacritic", class: "tag-selector", data: { action: "input->hide-score-slider#hideSlider", hide_score_slider_target: "metacritic" } %>
              <%= form.label :metacritic, "Metacritic" %>
              <%= form.radio_button :review_site, "no_site", class: "tag-selector", data: { action: "input->hide-score-slider#hideSlider", hide_score_slider_target: "none" }, checked: true %>
              <%= form.label :no_site, "No review site" %>

            </div>
          </div>


              <!-- <%= form.collection_radio_buttons :review_site, [['IMDb', 'imdb'], ['Metacritic', 'metacritic'], ['No Site', 'no_site']], :last, :first, include_hidden: false, checked: ['No Site', 'no_site'] do |b| %>
                <div class="tag-item">
                  <%= b.radio_button class: "tag-selector", data: { action: "input->hide-score-slider#hideSlider" } %>
                  <%= b.label  %>
                </div>
              <% end %> -->


          <div class="question-block" data-hide-score-slider-target="question">
            <h5>Pick a minimum score for your film</h5>
            <div class="options slidecontainer" data-controller="range-slider-value">
              <%= form.range_field :score,  min: "0", max: "100", class: "slider", value: 50, step: 5, data: { action: "input->range-slider-value#showScore", range_slider_value_target: "scoreRange"}%>
              <p><span data-range-slider-value-target="valueOutput">50%</span></p>

              <!-- <%= form.collection_radio_buttons :score, [['60'], ['70'], ['80'], ['90']], :first, :first, include_hidden: false do |b| %>
                <div class="tag-item">
                  <%= b.radio_button class: "tag-selector" %>
                  <%= b.label  %>
                </div>
              <% end %> -->

            </div>
          </div>

            <!-- <%= form.radio_button :score, "60" %>
            <%= form.label :'60', "60" %>
            <%= form.radio_button :score, "70" %>
            <%= form.label :'70', "70" %>
            <%= form.radio_button :score, "80" %>
            <%= form.label :'80', "80" %>
            <%= form.radio_button :score, "90" %>
            <%= form.label :'90', "90" %> -->

          <div class="form-button-container">
            <button id="btn-3"
                    data-action="click->load-search-questions#nextQuestion"
                    data-load-search-questions-target="button"
                    class="btn btn-white">
              OK
            </button>
          </div>
        </div>


  <!-- QUESTION FOUR : DURATION -->

        <div id="question-4" class="question hidden" data-load-search-questions-target="question">
          <div class="question-block">
            <h3>How much time do you have?</h3>
              <div class="options slidecontainer" data-controller="range-slider-value">
                <%= form.range_field :time,  min: "90", max: "180", class: "slider", value: 180, step: 5, data: { action: "input->range-slider-value#showTime", range_slider_value_target: "scoreRange"}%>
                <p><span data-range-slider-value-target="valueOutput">No limit</span></p>


              <!-- <div class="options">
                <%= form.collection_radio_buttons :time, [['90 mins', '90'], ['120 mins', '120'], ['150 mins', '150'], ['No Limit', 'no_limit']], :last, :first, include_hidden: false, checked: ['No Limit', 'no_limit'] do |b| %>
                  <div class="tag-item">
                    <%= b.radio_button class: "tag-selector" %>
                    <%= b.label  %>
                  </div>
                <% end %>  -->

            </div>
          </div>
          <div class="form-button-container">
            <%= form.submit "Search", class: "btn btn-white", id: "btn-4" %>
          </div>
        </div>


      <% end %>


  <!-- NAVIGATION  -->

      <div class="search-navigation">
        <span class="directional back hidden" data-action="click->load-search-questions#previousQuestion" data-load-search-questions-target="back">
          <i class="fas fa-chevron-left fa-lg"></i>
        </span>
        <span class="directional forward" data-action="click->load-search-questions#nextQuestion" data-load-search-questions-target="forward">
          <i class="fas fa-chevron-right fa-lg"></i>
        </span>
      </div>

  <!-- PROGRESS BAR -->
      <div class="progress-wrapper">
        <div class="progress-container">
          <div class="progress" id="progress" data-load-search-questions-target="progress"></div>
          <div class="circle active" data-load-search-questions-target="circle"></div>
          <div class="circle" data-load-search-questions-target="circle"></div>
          <div class="circle" data-load-search-questions-target="circle"></div>
          <div class="circle" data-load-search-questions-target="circle"></div>
        </div>
      </div>

  <%# <!-- DUPLICATED CODE? -->
    <div class="search-navigation">
      <span class="directional back hidden" data-action="click->load-search-questions#previousQuestion" data-load-search-questions-target="back">
        <i class="fas fa-chevron-left fa-lg"></i>
      </span>
      <span class="directional forward" data-action="click->load-search-questions#nextQuestion" data-load-search-questions-target="forward">
        <i class="fas fa-chevron-right fa-lg"></i>
      </span>
    </div> %>

    </div>
  </div>
</div>
