<div class="container">
  <div class="" data-controller="refresh" >

    <div data-refresh-button-target="add" display="none">
      <%@movies.each do |movie|%>
        <div class="row d-flex justify-content-center" data-controller="search-result-card">
          <div class="result-card card col-lg-6 col-md-7 col-sm-10" data-search-result-card-target="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path movie.background_image_url%>')">
            <div class="card-body" data-action="click->search-result-card#revealContent" type="button">
              <h3 class="result-card-collapse"><%= link_to movie.title, movie_path(movie), class: "result-card-title" %>
                <%# <% movie.platform_bookmarks.each do |bookmark|%>
                  <%# <%= link_to image_tag(bookmark.platform.logo_path, alt: "#{bookmark.platform.name} logo", width: 100, class: 'streaming-logo'), bookmark.link, target: :_blank %>
                <%# <% end %>
              </h3>
              <h6 class="card-subtitle mb-2 result-card-collapse"><%= movie.genres[0] %> / <%= movie.year %> / <%= movie.runtime %> mins
                <p><%= link_to image_tag('imdb.png', alt: "IMDb logo", width: 24), "https://www.imdb.com/title/#{movie.imdb_id}", target: :_blank %> <%= movie.imdb_rating.to_f / 10 %> <%= link_to image_tag('metacritic.png', alt: "Metacritic logo", width: 24), "https://www.imdb.com/title/#{movie.imdb_id}/criticreviews", target: :_blank %> <%= movie.metacritic_rating %></p>
              </h6>
              <div class="d-flex justify-content-center">
                <i class="fa-solid fa-angle-down fa-2xl"></i>
              </div>
            </div>
            <div class="d-none result-card-expand" data-search-result-card-target="expand">
              <div class="col-12 youtube-insert" data-refresh-target="youtube" data-youtube-code="<%= movie.youtube_code %>"></div>
                  <div class="row d-flex justify-content-center" data-controller="change-watchlist-button">
                    <% if current_user %>
                      <% unless current_user.movies.include? movie%>
                          <%= simple_form_for [@movie, @movie_bookmark], remote: true do |f| %>
                            <%= f.hidden_field :movie, value: movie.id %>
                            <%= f.hidden_field :bookmark_type, value: 'watchlist' %>
                            <%= f.submit "Add to Watchlist", class: 'btn btn-warning', data: { action: 'click->change-watchlist-button#change', target: 'change-watchlist-button.watchlist' }%>
                          <% end %>
                          <button type="button" class="btn btn-success d-none" disabled data-change-watchlist-button-target="added">Added to Watchlist</button>
                        <% else %>
                          <div class="col-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-success" disabled>Added to Watchlist</button>
                          </div>
                        <% end %>
                        <% else %>
                          <div class="col-12 expand-buttons">
                            <%= link_to "Sign In to Add to Watchlist", new_user_session_path, class: "btn btn-secondary" %>
                            <% movie.platform_bookmarks.each do |bookmark|%>
                                <%= link_to image_tag(bookmark.platform.logo_path, alt: "#{bookmark.platform.name} logo", width: 100, class: 'streaming-logo'), bookmark.link, target: :_blank %>
                              <% end %>
                          </div>
                    <% end %>
                    <% movie.platform_bookmarks.each do |bookmark|%>
                      <%= link_to image_tag(bookmark.platform.logo_path, alt: "#{bookmark.platform.name} logo", width: 100, class: 'streaming-logo'), bookmark.link, target: :_blank %>
                      <% end %>
                  </div>
              <nav>
                <div class="nav nav-tabs tabs-underlined" id="nav-tab" role="tablist">
                  <button class="nav-link active tab-underlined" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Movie Details</button>
                  <button class="nav-link tab-underlined" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Genres</button>
                  <button class="nav-link tab-underlined" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Platforms</button>
                </div>
              </nav>
              <div class="tab-content tabs-results" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                  <p class="card-text"> Starring <%= movie.stars.join(", ") %></p>
                  <p class="card-text">Directed by <%= movie.director.join %></p>
                  <p class="card-text"><%= movie.plot %></p>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <p class=""><% movie.genres.each do |genre| %>
                  <button type="button" class="btn btn-outline-warning">
                    <%= genre %>
                    <% end %>
                  </button>
                </p>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <div class="row d-flex justify-content-center">
                  <div class="col-12">
                    <h4>Stream Now On</h4>
                    <% movie.platform_bookmarks.each do |bookmark|%>
                        <%= link_to image_tag(bookmark.platform.logo_path, alt: "#{bookmark.platform.name} logo", width: 100, class: 'streaming-logo'), bookmark.link, target: :_blank %>
                        <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <div class="d-flex justify-content-center">
      <div class="">
        <button data-action="click->refresh#next" class="refresh-button"><i class="fas fa-sync-alt"></i></i></button>
      </div>
    </div>

  </div>


</div>
