<div class="container">
  <div class="details-card row d-flex justify-content-center">
    <div class="col-lg-6 col-md-7 col-sm-9">
  <%# BASIC CARD HEADER %>
          <div>
            <h3 class="card-title back-button"><%= @movie.title %>
              <%= link_to "Back to your Results", movies_path(@user), class: "btn btn-outline-warning"%>
            </h3>
            <h6 class="card-subtitle mb-2"> <%= @movie.year %> / <%= @movie.runtime %> mins</h6>
          </div>

      <%# MOVIE POSTER %>
              <div class="poster-card">
                <%= image_tag(@movie.poster_url, alt: "(#{@movie.title} cover art", width: "50%" ) %>
              </div>
                <%# <iframe id="ytplayer" type="text/html" height="160" width="100%" height="auto" %>
                <%# src='https://www.youtube.com/embed/1Vnghdsjmd0?rel=0&autoplay=<%= params[:autoplay] || 0 %>
                <%# ' frameborder='0' allowfullscreen></iframe> %>


            <%# ADD TO WATCHLIST BUTTON %>
              <div data-controller="change-watchlist-button">
                <% if current_user %>
                <% unless current_user.movies.include? @movie%>
                    <%= simple_form_for [@movie_bookmark] do |f| %>
                      <%= f.hidden_field :movie, value: @movie.id %>
                      <%= f.hidden_field :bookmark_type, value: 'watchlist' %>
                      <%= f.submit "Add to Watchlist", class: 'btn btn-warning', data: { action: 'click->change-watchlist-button#change', target: 'change-watchlist-button.watchlist' }%>
                    <% end %>
                    <button type="button" class="btn btn-success d-none" disabled data-change-watchlist-button-target="added">Added to Watchlist</button>
                  <% else %>
                    <%= link_to "#{'Remove From Watchlist' if @bookmark_type == 'watchlist'} #{'Remove Dislike' if @bookmark_type == 'dislike'}", movie_bookmark_path(@user_bookmark), class: "btn btn-danger",
                          method: :delete %>
                  <% end %>
              </div>
                <% else %>
              <div class="col-12 expand-buttons">
                  <%= link_to "Sign In to Add to Watchlist", new_user_session_path, class: "btn btn-secondary" %>
              </div>
                <% end %>

            <%# TABS %>
            <nav>
              <div class="nav nav-tabs tabs-underlined" id="nav-tab" role="tablist">
                <button class="nav-link active tab-underlined" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Movie Details</button>
                <button class="nav-link tab-underlined" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Genres</button>
                <button class="nav-link tab-underlined" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Platforms</button>
              </div>
            </nav>
            <div class="tab-content tabs-results" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <p class="card-text"> Starring <%= @movie.stars.join(", ") %></p>
                <p class="card-text">Directed by <%= @movie.director.join %></p>
                <p class="card-text"><%= @movie.plot %></p>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <p class=""><% @movie.genres.each do |genre| %>
                  <button type="button" class="btn btn-outline-warning">
                    <%= genre %>
                    <% end %>
                  </button>
                </p>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <div class="row d-flex justify-content-center">
                  <div class="col-12">
                    <h4>Stream Now On</h4>
                    <% @movie.platform_bookmarks.each do |bookmark|%>
                        <%= link_to image_tag(bookmark.platform.logo_path, alt: "#{bookmark.platform.name} logo", width: 100, class: 'streaming-logo'), bookmark.link, target: :_blank %>
                        <% end %>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>
