<div class="container">
<%# BASIC CARD HEADER %>
  <div class="row d-flex justify-content-center">
      <div class="card-body">
        <h3 class="card-title"><%= @movie.title %></h3>
        <h6 class="card-subtitle mb-2"> <%= @movie.year %> / <%= @movie.runtime %> mins</h6>

  <%# MOVIE TRAILER %>
          <div class="col-6">
            <iframe id="ytplayer" type="text/html" height="160" width="100%" height="auto" src='https://www.youtube.com/embed/1Vnghdsjmd0?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
          </div>


        <%# ADD TO WATCHLIST BUTTON %>
          <div class="row">
            <%= link_to "Add to Your Watchlist", movie_path, class: 'btn btn-primary col-4' %>
          </div>

        <%# TABS %>
          <div class="tabbed-content">
            <header>
              <ul class="list-inline tabs-underlined">
                <li>
                    <%= link_to "Cast & Crew", movie_path(@movie.stars.join), class: 'tab-underlined active' %>

                  <%# <a href="#" class="tab-underlined active">Cast & Crew</a> %>
                </li>
                <li>
                  <a href="#" class="tab-underlined">Genres</a>
                </li>
                <li>
                  <a href="#" class="tab-underlined">Available On</a>
                </li>
              </ul>
            </header>
        <p class="card-text"> Starring <%= @movie.stars.join %></p>
        <p class="card-text">Directed by <%= @movie.director.join %></p>
        <p class="card-text"><%= @movie.plot %></p>
        <%# <p class="card-text"><%= @movie.poster_url</p %>
      </div>
    </div>
  </div>
  <%# <div class="row row d-flex justify-content-center">
    <div class="collapse col-lg-6 col-md-7 col-sm-10" id="collapseExample">
      <div class="row d-flex">
        <div class="col-6">
          <iframe id="ytplayer" type="text/html" height="160" width="100%" height="auto" src='https://www.youtube.com/embed/1Vnghdsjmd0?rel=0&autoplay=<%= params[:autoplay] || 0 %>
        <%# </div> %>
        <%# <div class="col-6"> %>
          <%# <h6>Stream Now On</h6> %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
