<div class="container">
  <div class="details-card row d-flex justify-content-center">
    <div class="col-lg-6 col-md-7 col-sm-9">
  <%# BASIC CARD HEADER %>
          <div>
            <h3 class="card-title back-button"><%= @movie.title %>
              <%= link_to "Back", :back, class: "btn btn-outline-warning"%>
            </h3>
            <h6 class="card-subtitle mb-2"> <%= @movie.year %> / <%= @movie.runtime %> mins</h6>
          </div>

      <%# MOVIE POSTER %>
              <div class="result-card">
                <div class="row d-flex justify-content-center">
                <div class="col-12 youtube-insert" data-refresh-target="youtube" data-youtube-code="<%= @movie.youtube_code %>">
              </div>
                <%# <iframe id="ytplayer" type="text/html" height="160" width="100%" height="auto" %>
                <%# src='https://www.youtube.com/embed/1Vnghdsjmd0?rel=0&autoplay=<%= params[:autoplay] || 0 %>
                <%# ' frameborder='0' allowfullscreen></iframe> %>


            <%# ADD TO WATCHLIST BUTTON %>
                <div>
                  <%= simple_form_for [@movie_bookmark] do |f| %>
                  <%= f.hidden_field :movie, value: @movie.id %>
                  <%= f.hidden_field :bookmark_type, value: 'watchlist' %>
                  <%= f.submit "Add to your Watchlist", class: 'btn btn-warning col-12' %>
                    <% end %>
                </div>

            <%# TABS %>
            <nav>
              <div class="nav nav-tabs tabs-underlined" id="nav-tab" role="tablist">
                <button class="nav-link active tab-underlined" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Movie Details</button>
                <button class="nav-link tab-underlined" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Genres</button>
                <button class="nav-link tab-underlined" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Platforms</button>
                <button class="nav-link tab-underlined" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</button>

              </div>
            </nav>
            <div class="tab-content tabs-results" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <p class="card-text"> Starring <%= @movie.stars.join(", ") %></p>
                <p class="card-text">Directed by <%= @movie.director.join %></p>
                <p class="card-text"><%= @movie.plot %></p>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                      <p class=""><% @movie.genres.each do |genre| %>
                        <button type="button" class="btn btn-outline-warning">
                          <%= genre %>
                          <% end %>
                        </button>
                      </p>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <div class="row d-flex justify-content-center">
                  <div class="col-12">
                    <h4>Stream Now On</h4>
                    <% @movie.platform_bookmarks.each do |bookmark|%>
                        <%= link_to image_tag(bookmark.platform.logo_path, alt: "#{bookmark.platform.name} logo", width: 100, class: 'streaming-logo'), bookmark.link, target: :_blank %>
                        <% end %>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab" tabindex="0">
                <p><%= link_to image_tag('imdb.png', alt: "IMDb logo", width: 24), "https://www.imdb.com/title/#{@movie.imdb_id}", target: :_blank %> <%= @movie.imdb_rating.to_f / 10 %> <%= link_to image_tag('metacritic.png', alt: "Metacritic logo", width: 24), "https://www.imdb.com/title/#{@movie.imdb_id}/criticreviews", target: :_blank %> <%= @movie.metacritic_rating %></p>
              </div>
            </div>
    </div>
  </div>
</div>
