<div class="container">
<%# BASIC CARD HEADER %>
  <div class="row d-flex justify-content-center align-items">
      <div class="card-body">
        <h3 class="card-title"><%= @movie.title %></h3>
        <h6 class="card-subtitle mb-2"> <%= @movie.year %> / <%= @movie.runtime %> mins</h6>

  <%# MOVIE POSTER %>
          <div class="col-6 ">
            <%= image_tag(@movie.poster_url, alt: "(#{@movie.title} cover art", width: 300 ) %>
            <%# <iframe id="ytplayer" type="text/html" height="160" width="100%" height="auto"
            <%# src='https://www.youtube.com/embed/1Vnghdsjmd0?rel=0&autoplay=<%= params[:autoplay] || 0 %>
            <%# ' frameborder='0' allowfullscreen></iframe> %>
          </div>

        <%# ADD TO WATCHLIST BUTTON %>
          <div class="row">
            <%= simple_form_for [@movie_bookmark] do |f| %>
            <%= f.hidden_field :movie, value: @movie.id %>
            <%= f.submit class: 'btn btn-warning col-4' %>
        <% end %>
          </div>
        <%# TABS %>
<div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-details-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Movie Details</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-genres" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Genres</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-platforms" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Platforms</button>
      </li>
    </ul>
</div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <p class="card-text"> Starring <%= @movie.stars.join(", ") %></p>
        <p class="card-text">Directed by <%= @movie.director.join</p>
        <p class="card-text"><%= @movie.plot %></p> %>
    </div>
    <div class="tab-pane fade" id="pills-genres" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="pills-platforms" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">...</div>
  </div>
          <div class="tabbed-content">
            <header>
              <ul class="list-inline tabs-underlined">
                <li>
                    <%= link_to "Cast & Crew", movie_path(@movie.stars.join), class: 'tab-underlined active' %>

                  <%# <a href="#" class="tab-underlined active">Cast & Crew</a> %>
                </li>
                <li>
                  <a href="#" class="tab-underlined">Genres</a>
                </li>
                <li>
                  <a href="#" class="tab-underlined">Available On</a>
                </li>
              </ul>
            </header>
        <p class="card-text"> Starring <%= @movie.stars.join(", ") %></p>
        <p class="card-text">Directed by <%= @movie.director.join %></p>
        <p class="card-text"><%= @movie.plot %></p>
        <%# <p class="card-text"><%= @movie.poster_url</p %>
      </div>
    </div>
  </div>
