<div class="bottom-navbar">

<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon"> %>
  <%# <div class="container-fluid "> %>
      <%# <div class="navbar-nav"> %>

        <div class="navbar-item">
            <%= link_to ('<i class="fa fa-home" aria-hidden="true"></i>').html_safe, root_path, class: "nav-icon" %>
            <p>Home</p>
        </div>

<%# USER VIEW %>
        <% if user_signed_in? %>

    <%# Watchlist%>
        <div class="navbar-item">
            <%= link_to ('<i class="fa fa-eye" aria-hidden="true"></i>').html_safe, user_path(current_user), class: "nav-icon" %>
            <p>Watchlist</p>
        </div>

    <%# Profile%>
        <div class="navbar-item">
            <%= link_to ('<i class="fa fa-user" aria-hidden="true"></i>').html_safe, user_path(current_user), class: "nav-icon" %>
            <p>Profile</p>
        </div>


    <%# Other items %>
        <% if false %>
          <li class="nav-item">
            <%= link_to "Watchlist", "#", class: "nav-link" %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>


    <%# Avatar and dropdown%>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>


    <%# VISITOR VIEW%>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
