<div class="container">
  <div class="row">
    <h1><%= "#{current_user.freshpics_handle.capitalize}'s Profile"%></h1>
  </div>
  <div class="row d-none d-lg-block d-md-block">
    <div class="d-flex justify-content-between">
      <p><%= link_to 'Watchlist', user_path(current_user), class: "link-orange" %></p>
      <p>Disliked Movies</p>
      <p><%= link_to 'Update User Platforms', user_platforms_path, class: "link-orange" %></p>
      <p><%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "link-orange" %></p>
      <p><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link-orange" %></p>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg d-lg-none d-md-none ">
    <div class="container-fluid ps-0 pe-0">
      <div class="d-flex container-fluid justify-content-between ps-0 pe-0 mb-2"type="button" data-bs-toggle="collapse" data-bs-target="#userNav" aria-controls="userNav" aria-expanded="false" aria-label="Toggle navigation">
        <a class="navbar-brand link-orange" href="#">Disliked Movies</a>
        <button class="navbar-toggler pe-0">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="userNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Watchlist', user_path(current_user), class: "link-orange link-orange-small" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Update User Platforms', user_platforms_path, class: "link-orange link-orange-small" %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "link-orange link-orange-small" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link-orange link-orange-small" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="cards">
      <% @dislike_list.each do |bookmark| %>
      <%%>
        <%= link_to booking_path(booking) do %>
          <div class="booking-card">
            <%= image_tag booking.record.cover, class: "booking-img" %>
            <div class="booking-info">
              <h5><%= booking.record.title %></h5>
              <p><%= "#{booking.pick_up_date.strftime("%d/%m/%Y")} - #{booking.return_date.strftime("%d/%m/%Y")}" %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
